mixin text(page)
	if page == "about-top"
		+b.text-block_pt20
			+e.inner.inner
				+e.IMG.pic(src="/images/regions_about.jpg")
				+e.content
					+e.H2.title Who we are today
					+e.text.text
						p At Barcelona Mediterranean Wine, we produce, market and sell wine from the Spanish regions such as Penedes, Priorat, La Mancha, Galicia, Ribera and Duera, Rioja and Navarra.
						p Our wine bodegas are primarily located in Penedes, one of the vital viticultural areas in northern Spain, where our wines are made from grapes from our vineyards covering more than 100 hectares. Today we export wines to more than 15 countries all over the world and continue to expand the geography of exports to Europe, North America, and Asia.
						p We build our company through marketing that is disciplined and highly attentive to consumers' needs. High standards included timely delivery and unwavering quality of products that allow us to offer you exceptional wines from the heart of Spanish vineyards.
					+e.A.link.btn.btn_link(href="/regions.html") regions
	else if page == "about-bottom"
		+b.text-block
			+e.inner_reverse.inner
				+e.IMG.pic(src="/images/wine.jpg")
				+e.content
					+e.H2.title Passion for quality
					+e.text.text
						p From the very beginning, our company has been devoted to the winemaking process and committed to quality. Harvesting is done manually from 4 am to 10 am as there is a wind from the sea, so the cooler temperatures of early morning help avoid a premature fermenting cycle.
						p Then our wine is partially fermented in metal barrels, blended and poured into the oak barrels aging there for 4-8 months. The next stage starts with wine filtration, which includes silver net filtration, nana re-filtration, and third filtration. Finally, after the bottling and labeling, preparation for shipment, and loading into a truck over one day, our wine is ready to be sampled by wine connoisseurs across the world.
						p Barcelona Mediterranean Wine embraces innovation and masters the winemaking process to produce world-class wines.
					+e.A.link.btn.btn_link(href="/cellar.html") cellar
	else if page == "phil-top"
		+b.text-block_p10
			+e.inner.inner
				+e.IMG.pic(src="/images/foto_1.jpg")
				+e.content
					+e.H2.title The heart of our wines
					+e.text.text
						p Penedès, the region where our wine is born, is a unique wine treasury in Europe. Located between the Mediterranean Sea and the Montserrat Mountain, Penedes is not just vineyards with a thousand-year tradition, but a whole world of winemaking, whose inhabitants rightfully consider their work to be art. The rich variety of flavors and aromas is the result of a unique combination of a favorable climate, fertile soil, the Mediterranean Sea, the unsurpassed skill of winemakers, and the secrets of traditional recipes of the Penedès region.
	else if page == "phil-bottom"
		+b.text-block_p40
			+e.inner_reverse.inner
				+e.IMG.pic(src="/images/foto_2.jpg")
				+e.content
					+e.H2.title Thinking beyond today
					+e.text.text
						p Always keeping quality in mind, we aim to continue to develop and improve our wines as well as customer experience. We strive to meet the leading professional standards of the wine industry and produce a competitive product of high-quality.
						p Our mission is to enrich lives through uniquely wonderful wine experiences, providing our customers with delicious, award-winning, quality Catalan wines that are all produced locally. It is our dedication, honesty, and passion that results in our outstanding, award-winning Mediterranean wines that can be enjoyed by everyone!
	else if page == "cellar-top"
		+b.text-block_pt20
			+e.inner.inner
				+e.IMG.pic(src="/images/cellar-1.jpg")
				+e.content
					+e.H2.title Where it all begins
					+e.text.text
						p Our winery is located in«La Rápita» in the municipality of Santa Margarida i el Monjos, Penedés DO. Grapes have been grown there for centuries with a lot of respect for traditions.  It is one of Spain’s most renowned wine-growing regions with delightful, enchanting landscapes and a diverse Mediterranean climate. We take great pride in being part winemaking culture of Penedés, where it is pleasant to live and work.
	else if page == "cellar-bottom"
		+b.text-block_p40
			+e.inner_reverse.inner
				+e.IMG.pic(src="/images/cellar-5.jpg")
				+e.content
					+e.H2.title Quality in every step
					+e.text.text
						p Only by taking care of the grapes from the beginning can we best transfer the character of ripe fruit to the bottle. At the Bodega, all stages from manual harvesting, to steel fermentation, to ageing in oak barrels, to ageing in bottles, are performed within the highest world standard under the watchful eye of our winemaker. 
						p The entire process is aimed at making our customers soak up the atmosphere of the Mediterranean with every sip of the drink of Gods. 
