mixin wine(vars)
	+b.wine
		.inner
			+e.item
				+e.info
					+e.IMG.pic(src="/images/1.jpg")
					+e.content
						+e.H2.title VINO ESPUMOSO SEMISECO
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text 2Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
			+e.item
				+e.info
					+e.IMG.pic(src="/images/2.jpg")
					+e.content
						+e.H2.title VINO ESPUMOSO BRUT
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
			+e.item
				+e.info
					+e.IMG.pic(src="/images/3.jpg")
					+e.content
						+e.H2.title VINO ESPUMOSO BRUT ROSE
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
			+e.item
				+e.info
					+e.IMG.pic(src="/images/4.jpg")
					+e.content
						+e.H2.title MAREAS COUPAGE D.O. PENEDÈS 
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
			+e.item
				+e.info
					+e.IMG.pic(src="/images/5.jpg")
					+e.content
						+e.H2.title MAREAS MACABEU D.O. PENEDÈS
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
			+e.item
				+e.info
					+e.IMG.pic(src="/images/6.jpg")
					+e.content
						+e.H2.title MAREAS TEMPRANILLO D. O. PENEDÈS
						+e.list
							+e.line
								+e.P.caption WINEMAKER
								+e.text.text Barcelona Mediterranean Wine, es una pequeiia bodega situada en el Penedes donde entre viiiedos embotellamos este coupage unico, de uvas exclusivamente recogidas a mano y cultivadas a la region del Penedes.
							+e.line
								+e.P.caption VARIETIES
								+e.text.text Tempranillo, Merlot, Garnacha Tinta
							+e.line
								+e.P.caption ORIGIN
								+e.text.text D.O. Penedès
							+e.line
								+e.P.caption Serving Temperature
								+e.text.text Entre 16° a 18°C
							+e.line
								+e.P.caption ALCOHOLIC DEGREE
								+e.text.text 13,5% VOL 
							+e.line
								+e.P.caption food pairing
								+e.text.text Ideal para acompaiiar carnes rojas, verduras al horno o quesos curados y tambien perfectos para maridar con pescado como el atun.
				+b.tabs
					+e.list
						+e.link.active Description
						+e.link Additional Information
					+e.content
						+e.text.text.active Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.
						+e.text.text Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez. Fruto del trabajo y la constancia nacen nuestros vinos espumosos más singulares, el cuidado del viñedo Macabeo, Xarel.lo y Parellada nos otorgan un vino espumoso de gran finura y equilibrio entre dulzura y acidez.