*
	&:root
		font-size: 16px
		font-family: $font-family
		+screen('max', 1024)
			font-size: 14px
		+screen('max', 767)
			font-size: 12px
input
	&[type="number"]
		&::-webkit-outer-spin-button, &::-webkit-inner-spin-button
			-webkit-appearance: none
			margin: 0
		-moz-appearance: textfield
		&:hover, &:focus
				-moz-appearance: number-input
	&[type=number]
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
			-webkit-appearance: none
			margin: 0
body
	font-size: 1rem
	font-weight: 400
	line-height: 1.25
	color: $color-1
	scroll-behavior: smooth
	overflow: hidden
main
	position: relative
	overflow: auto
	height: 100vh
.inner
	max-width: 1170px
	width: 100%
	margin: 0 auto
	&_middle
		max-width: 970px
	+screen('max', 1500)
		max-width: 950px
	+screen('max', 1170)
		padding: 0 20px
		box-sizing: border-box
.scrollbar-thumb
	background: $color-2!important
	border-radius: 0!important
.scrollbar-track
	background: transparent!important
.pagination
	margin-top: 40px
	&__list
		display: flex
		justify-content: center
	&__item
		margin-right: 15px
		padding-left: 0
		&:last-of-type
			margin-right: 0
		&:before
			display: none
	&__link
		width: 30px
		height: 30px
		border-radius: 4px
		transition: .5s ease-in-out
		display: inline-flex
		text-align: center
		justify-content: center
		align-items: center
		color: $color-1
		+fs(18px)
		&.active
			color: $color-1
		&:hover
			background-color: $color-1

.page-error
	width: 100vw
	height: 100vh
	background-image: url(../images/error-page.jpg)
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	min-height: -webkit-fill-available
	+screen('max', 1023)
		background-image: url(../images/bg-error-middle.jpg)
	+screen('max', 575)
		background-image: url(../images/bg-error-small.jpg)
	&__text
		color: #fdfdfd
		text-transform: uppercase
		+fs(28px)
		line-height: 34px
		max-width: 695px
		text-align: center
		padding: 35% 0 0
		margin: 0 auto
		+screen('max', 1600)
			padding: 43% 0 0
		+screen('max', 1280)
			padding: 50% 0 0
		+screen('max', 1023)
			padding: 85% 0 0
		+screen('max', 575)
			padding: 120% 0 0
			line-height: 1.25
			width: 90%
			margin-bottom: 10px
	&__btn
		display: block
		width: 225px
		text-align: center
		box-sizing: border-box
		padding: 15px
		color: #fff
		text-transform: uppercase
		margin: 1% auto 0
		background: $color-1
		&:hover
			background: $color-3
			color: #fff
.checkbox
	display: block
	cursor: pointer
	&__hidden
		display: none
		&:checked + .checkbox__text:after
			opacity: 1
		&.error + .checkbox__text:before
			border: 1px solid #ff4657
	&__text
		+fs(14px)
		padding-left: 40px
		position: relative
		+screen('max', 767)
			+fs(18px)
		&::before
			content: ''
			width: 25px
			height: 25px
			border: 1px solid #e5e5e5
			background-color: #ffffff
			transition: .5s ease-in-out
			position: absolute
			left: 0
			top: -5px
		&:hover
			&::before
				border: 1px solid $color-1
		&:after
			content: ''
			height: 15px
			width: 19px
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAYAAAAGRPQsAAAByElEQVQ4T6WTPWhTURTHfycfJXWwxLxg1W46qlu3DsGkqR+8PKq0FYeugm5OTi5OTq7iKAqS0tK+SCRtXgt20EEEd111yKsFBVuSvHfkBvp4xjRiveP5n/O755z/vcJ/nLX8zDm0+xJJ3XRajU9yVFb9RGGim0i9A84IfE6G3cKRYMvWzKkRgm2Fs7FmPvwzrD5+Jd8NOpso5w9AAp1AuRrBzG03/MbXYWNXs6WxTJINYDKWFyhy3fE33B6sZpVtJawqsmCCg4C10/Yxbe81gKmYHgq6aPveCxMTN1e+hISvgFHTbhjqNeebZ26PTpW5kYy1WweK8biitx3fexqN61qlj8DFWNKeSuKy01p/Y2JbFFI/rOQKiN3X8b2K33wcj4mxuJNIvxV0IiZ8DzVRbu+Mvc9Yu8+AW30dPXB872H/Ono7M49PNNgGxmMJPqpbiMz9ViQ8qrSa9wftNXJz9WTpQiJgE7AOc1ThScVv3hHQoTAjurniJCJN4Pifyfrc9r3Fw0A9N/uL3HxpCmXduBtpyvL+TnZhnqVg2Dsc+ANquekioq8V0kB938/OzrPUHgYa2NlBwZo1XRHRu5IenbW/1H7+DWT0X9idmlZoHf4rAAAAAElFTkSuQmCC)
			background-position: center
			background-repeat: no-repeat
			background-size: contain
			position: absolute
			left: 5px
			top: 2px
			opacity: 0
			transition: .5s ease-in-out
	&_polit
		display: flex
		justify-content: space-between
		align-items: flex-start
		margin-bottom: 50px
		margin-left: 0
		.checkbox__text
			color: #999999
			+fs(15px)
			line-height: 14px
.select2-container
	width: 100%
	&:hover
		.select2-selection--single
			border: 1px solid $color-2
			border-bottom: 1px solid transparent
.select2-container .select2-selection--single
	border: 1px solid $color-1
	border-bottom: 1px solid transparent
	border-radius: 0
	height: auto
	box-sizing: border-box
	border-bottom-left-radius: 3px
	border-bottom-right-radius: 3px
	transition: .2s ease-in-out
	position: relative
	.select2-selection__arrow
		height: 100%
		width: 50px
		background-image: url(../icon/arrow.svg)
		background-position: center
		background-repeat: no-repeat
		transition: .5s ease-in-out
		b
			display: none
	&:after
		content: ''
		width: calc(100% + 2px)
		height: 5px
		position: absolute
		left: -1px
		bottom: -4px
		background: $color-1
		transition: .1s ease-out
.select2-selection__rendered
	padding: 10px 15px 6px
.select2-container--open
	.select2-selection__arrow
		transform: rotate(180deg)
	.select2-selection--single
		border-bottom: 1px solid $color-1
		&:after
			height: 0
.select2-container--open .select2-dropdown
	border-radius: 0
	border: 1px solid $color-3
	border-bottom: 7px solid $color-1
.select2-results
	max-height: 200px
.select2-results__options
	li
		padding-left: 30px
		padding: 10px
		color: $color-1
		&:before
			display: none
.select2-container--default .select2-results__option--highlighted[aria-selected]
	background: $color-1
	color: $color-1

.btn
	display: inline-block
	background: $color-2
	box-sizing: border-box
	padding: 15px 15px 14px
	color: #ffffff!important
	+fs(14px)
	font-weight: 500
	line-height: 24px
	text-transform: uppercase
	letter-spacing: 0.35px
	position: relative
	border-radius: 2px
	transition: .5s ease
	&_link
		width: 150px
		position: relative
		display: flex
		justify-content: center
		align-items: center
		padding: 10px 10px 9px
		&::after
			content: ''
			display: inline-block
			vertical-align: middle
			margin-left: 10px
			position: relative
			top: -1px
			width: 9px
			height: 7px
			background-image: url(../icon/arrow-right.svg)
			background-position: center
			background-repeat: no-repeat
	&:hover
		color: #fff!important
		background: rgba(178, 20, 68, .8)
table

.content
	iframe
		margin-top: 50px
		+screen('max', 767)
			height: 200px
	& + .gallery
		margin-top: 40px
.pic
	+screen('max', 1500)
		height: 355px
		object-fit: cover
.breadcrumb
	padding: 30px 125px
	+screen('max', 1170)
		padding: 20px 50px
	+screen('max', 1023)
		padding: 20px 20px 0
	&__link
		margin-right: 20px
		a
			color: #222222
			+fs(14px)
			letter-spacing: 0.7px
			text-transform: uppercase
			transition: .5s ease
			&:hover
				color: $color-2
		&:after
			content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAeklEQVQYV2NkYGBgZGBg+M+ABBiVlJSOMjIy1t69e3cfTBwkyP////8NTExMzTAJkFYGdAmwIJpELlwQKpHBwMDAgawymoGBIYGJickHZiZY4MePH/7Pnj37BrIdJBDCxMQUcefOnZ8gYxiVlZUD7t69u5mBgeEvzFIAd90u6ZrBIHkAAAAASUVORK5CYII=)
			position: relative
			margin-left: 10px
	&__active
		a
			color: $color-2
			+fs(14px)
			letter-spacing: 0.7px
			text-transform: uppercase
.social

.group
	&__field
		display: block
		width: 100%
		padding: 3px 0
		box-sizing: border-box
		+fs(16px)
		border-bottom: 1px solid $color-1
		letter-spacing: 0.8px
		color: #000
		min-height: 28px
		position: relative
		z-index: 3
		line-height: 1
		background: none
		border-radius: 0
		&:focus
			border-bottom: 1px solid $color-1
		&.error
			border-bottom: 1px solid #ff4657
	.error-tooltip
		position: absolute
		right: 0
		top: 110%
		+fs(12px)
		color: #ff4657
.modal
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	background: rgba(0,0,0,.8)
	z-index: 999
	display: none
	justify-content: center
	align-items: center
	opacity: 0
	display: none
	&__close

.up
	display: flex
	justify-content: center
	align-items: flex-end
	position: fixed
	right: 30px
	bottom: 30px
	cursor: pointer
	+screen('max', 1280)
		display: none

.scheme
	padding: 150px 0
	background-color: #f6f6f2
	+screen('max', 1500)
		padding: 95px 0
	+screen('max', 1023)
		padding: 50px 0
	&__pic
		width: 100%
.gallery
	&__inner
		display: flex
		align-items: center
		+screen('max', 767)
			display: block
	&__item
		display: block
		max-width: 400px
		width: 33%
		margin-right: 13px
		+screen('max', 767)
			width: 100%
		&:nth-of-type(3n)
			margin-right: 0
	&__pic
		width: 100%
		height: 275px
		object-fit: cover
		+screen('max', 1500)
			height: 220px
.bottle
	margin-bottom: 100px
	.swiper-slide
		text-align: center
	.swiper-wrapper
		margin-top: 30px
	&__pic
		width: 110px
	.swiper-button-prev
		left: 0px
	.swiper-button-next
		right: 2px
	.swiper-button-prev,
	.swiper-button-next
		background-image: none
		margin-top: 0
		svg
			width: 29px
			height: 29px
		path
			fill: #cccccc
			transition: .5s ease
		&:hover
			path
				fill: $color-2

.cellar-map
	margin-bottom: 60px
	margin-top: -55px