include ../static/pug/_global
<!DOCTYPE html>
html(lang="ru")
	+head('Бодега')
	body
		main.page
			+header()
			+heading('/images/heading_bodega.jpg', ["home","cellar"], 'cellar')
			+text('cellar-top')
			.cellar-map
				.inner
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5993.87691044294!2d1.6467189785209995!3d41.310202467085055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a47709edc1facf%3A0xa59b1f842e99a191!2s08730%20La%20R%C3%A0pita%2C%20Barcelona!5e0!3m2!1sen!2ses!4v1599115978802!5m2!1sen!2ses', width='100%', height='350', frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')
			+b.bottle
				h2.text-center The wines produced in the Bodega
				.inner.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_1.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/brut.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_3.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_4.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_5.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_4.jpg", alt="")
						.swiper-slide
							+e.IMG.pic(src="/images/bottle_5.jpg", alt="")
					.swiper-button-prev
						svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
							path(d='M256 0C114.833 0 0 114.833 0 256s114.833 256 256 256 256-114.833 256-256S397.167 0 256 0zm0 490.667C126.604 490.667 21.333 385.396 21.333 256S126.604 21.333 256 21.333 490.667 126.604 490.667 256 385.396 490.667 256 490.667z')
							path(d='M306.208 131.125c-4.167-4.167-10.917-4.167-15.083 0L173.792 248.458c-4.167 4.167-4.167 10.917 0 15.083l117.333 117.333a10.634 10.634 0 007.542 3.125c2.729 0 5.458-1.042 7.542-3.125 4.167-4.167 4.167-10.917 0-15.083L196.417 256l109.792-109.792c4.166-4.166 4.166-10.916-.001-15.083z')
					.swiper-button-next
						svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 512 512')
							path(d='M256 0C114.833 0 0 114.833 0 256s114.833 256 256 256 256-114.833 256-256S397.167 0 256 0zm0 490.667C126.604 490.667 21.333 385.396 21.333 256S126.604 21.333 256 21.333 490.667 126.604 490.667 256 385.396 490.667 256 490.667z')
							path(d='M220.875 131.125c-4.167-4.167-10.917-4.167-15.083 0-4.167 4.167-4.167 10.917 0 15.083L315.583 256 205.792 365.792c-4.167 4.167-4.167 10.917 0 15.083a10.634 10.634 0 007.542 3.125c2.729 0 5.458-1.042 7.542-3.125l117.333-117.333c4.167-4.167 4.167-10.917 0-15.083L220.875 131.125z')
			.content
				.inner
					.text
						h2 Artisan wines with a touch of technology
						p We work daily to share our passion, values, and achievements through our wines. The Bodega follows classical criteria of the winemaking process letting us adapt traditional work procedures to innovations and new wine technologies.
						p This approach allows us to produce traditional artisan wines, but increase the quality of the final product. As a result, our consumers enjoy a variety of unique wines presenting the best traditions and bold Innovations in one glass. 
			+b.gallery
				+e.inner.inner
					+e.A.item(href="/images/cellar-2.jpg" data-fancybox)
						+e.IMG.pic(src="/images/cellar-2.jpg")
					+e.A.item(href="/images/cellar-3.jpg" data-fancybox)
						+e.IMG.pic(src="/images/cellar-3.jpg")
					+e.A.item(href="/images/cellar-4.jpg" data-fancybox)
						+e.IMG.pic(src="/images/cellar-4.jpg")
			+text('cellar-bottom')
			+footer()
		include ../static/pug/_scripts