include ../static/pug/_global
<!DOCTYPE html>
html(lang="ru")
	+head('Cookie’s policy')
	body
		main.page
			+header()
			+heading('/images/heading_blog.jpg', ["home","Cookie’s policy"], 'Cookie’s policy')
			.legal
				.inner
					article.text
						h1 Cookie’s policy
						p Cookies are files sent to a browser by a web server to log user activities in a specific website or in all websites and/or services.
						p The EXTRA FOOD SPAIN  portal uses cookies in order to permit the electronic communications required for browsing, as well as with the goal of providing or enabling functions and services requested by the user.
						p Cookies are associated to an anonymous user and to your computer and do not provide references that may allow inferences on user personal details. The user can configure his or her web browser to notify and refuse the installation on cookies sent by EXTRA FOOD SPAIN  without preventing the user from accessing the contents. Nevertheless, we must point out that you may experience a decrease in the functioning quality of the portal if you do so.
						p Those Cookies:
						ul
							li Remember the language preference you selected.
							li Increase browsing security on our website.
							li Make browsing smoother.
							li Allow multimedia content to be displayed.
						p This website also uses own cookies meant to collect information on user browsing activities on the site in a fully anonymous and dissociated manner, for strictly statistical purposes and to improve site functionality, whose use allows us to:
						ul
							li Assess activity on the portal in order to identify problems and implement browsing improvements.
							li Anonymously identify browsing users (by identifying browsers and devices, not people) and, therefore, to obtain approximate statistics on the number of visitors and trends over time.
							li Identify content that is accessed most often and is therefore most attractive to users.
							li Know if users are new or returning visitors.
							li Find out in which country you are located when you request a service.
						p Furthermore, the EXTRA FOOD SPAIN  portal uses third-party cookies: it offers the option to provide advertisements through third parties (Ad-Servers). Thus, said third parties have the right to store cookies sent by EXTRA FOOD SPAIN  from user browsers and to access the data stored within them.
						p You can disable cookies at any time by changing your browser settings.
			+footer()
		include ../static/pug/_scripts