include ../static/pug/_global
<!DOCTYPE html>
html(lang="ru")
	+head('Главная')
	body
		main.index
			+header()
			+banner()
			.content
				.inner.inner_middle
					.text
						h2 Passion, honesty and transparency
						p Barcelona Mediterranean Wine is a winemaking company from sunny Barcelona that has been growing, producing, and distributing confidential Catalan wines over the years. 
						p We maintain the highest level of expertise and professionalism to spread the enjoyment of wine. At Barcelona Mediterranean Wine, we are creating uniquely wonderful wine experiences combining both winemaking traditions and innovations. 
						p To guarantee absolute quality in the bottle we use both true traditional and machinery techniques. The winemaking process is done within the highest world standards and is guided by our talented winemakers every step along the way.
						p We believe that our attention to detail in pruning, picking, and winemaking ensures that our Mediterranean Wines will always show great brightness, purity, and quality.
						p While our hands are working in vineyards, our minds are looking to the future of winemaking. 
						p Driven by an entrepreneurial spirit, we embrace innovation and exercise courageous ideas to help shape new tendencies in winemaking. 
						p Being deeply involved in the process, we also aim to support and transmit the beauty of the regions where our wines are made.
						img(style="width:100%"  src="/images/stub-video.png", alt="")
			+region()
			+discover()
			+footer()
		include ../static/pug/_scripts