include ../static/pug/_global
<!DOCTYPE html>
html(lang="ru")
	+head('Privacy and data protection policy')
	body
		main.page
			+header()
			+heading('/images/heading_blog.jpg', ["home","Privacy policy"], 'Privacy policy')
			.legal
				.inner
					article.text
						h1 Privacy and data protection policy
						h2 Security Measures
						p EXTRA FOOD SPAIN  S.L, fully complies with current data protection legislation and with the commitments to confidentiality pertinent to its business activity, in accordance with Organic Law 15/1999 of 13th December 1999. as well as the new General Data Protection Regulation (GDPR) 2016/679 of the European Parliament. The personal data collected through the Web are subject to automated processing and are incorporated into a file owned by Extra Food Spain, SL, which is also the entity responsible for it.
						h2 Purpose 
						p The purpose of the website is to inform customers and potential customers about  commercial distribution services, as import-export of food and beverage products provided by the company. This website also intends to be a communication channel between the company and the users of the website. All the information it contains is relative to the last update date. In this sense, it is an informative and non-binding website, since there may be subsequent updates
						h2 Terms or criteria for data retention:
						p The personal data provided will be kept as long as the cancellation is not requested by the interested party and will be kept in accordance with the established legal deadlines.
						h2 Recipients
						p During the duration of the treatment, Extra Food Spain SL will not make any assignment, except legal obligation, nor any transfer.
						h2 Rights
						p The interested party may exercise the following rights:
						ul
							li Right to request access to your personal data.
							li Right to request its rectification or deletion.
							li Right to request the limitation of your treatment.
							li Right to object the treatment.
							li Right to data portability.
							li Right to withdraw the consent given.
						p Anyone has the right to obtain confirmation about whether we are treating their personal data and also has the right to access to his/her personal data, as well as to request the rectification of inaccurate data or request its deletion when, among other causes, the data is no longer necessary for the purposes for which it was collected.
						p In some cases, the interested parties may request the limitation of the processing of their data, in which case we will keep them exclusively for the exercise or defense of claims. Under certain conditions and for reasons related to a particular situation, the interested parties may object to the processing of their data. In this case, EXTRA FOOD SPAIN S.L. will stop processing the data, except for legitimate reasons of force majeure, or the exercise or defense of possible legal actions.
						p If you have given your consent for a specific purpose, you have the right to withdraw the said consent at any time, without affecting the legality of the treatment based on the consent prior to its withdrawal.
						p To do this, you can use the forms provided on the website itself, or write to Extra Food Spain SL C / Paseo de Gracia 8-10 3º 2ª 08007 Barcelona.
						p In the event you feel your rights violated in relation to the protection of your personal data, especially when you have not obtained satisfaction in the exercise of your rights, you can file a claim with the competent Data Protection Control Authority through from its website: www.agpd.es.
						p Also if you do not want to receive information about our services, you can unsubscribe at our email address, indicating in the subject "Do not send more emails."
						h2 Origin of the data
						p The personal data that we treat in Extra Food Spain SL come directly from you:
						p The categories of data that are treated are:
						ul
							li Identification data
							li Postal or electronic addresses
							li Identification codes or keys
							li Economic data
							li Commercial information
						p Specially protected data is not processed
			+footer()
		include ../static/pug/_scripts