include ../../../bemto/bemto
include _head
include _breadcrumb

include ../../modules/header/header
include ../../modules/banner/banner
include ../../modules/about/about
include ../../modules/map/map
include ../../modules/callback/callback
include ../../modules/partners/partners
include ../../modules/contacts/contacts
include ../../modules/news/newsall
include ../../modules/news/newssingle
include ../../modules/discover/discover
include ../../modules/region/region
include ../../modules/catalog/catalog
include ../../modules/product/product
include ../../modules/footer/footer
