include _modal
script(src='/libs/jQuery/jquery-3.3.1.js')
script(src='/libs/jQuery-migrate/jquery-migrate-3.0.0.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGrXGwO5lVbF2mdPDxiosZzJ85C8s7gLU&callback=initMap")
script(src='/libs/inputmask/jquery.masked.input.js')
//- script(src='/libs/autoresize/autoresize.js')
script(src='/libs/animatenumber/jquery.animateNumber.min.js')
script(src='/libs/smooth-scrollbar/smooth-scrollbar.js')
script(src='/libs/select2/jq-select2.js')
script(src='/libs/slider/jquery.ui.widget.js')
script(src='/libs/slider/jq-slider.js')
script(src='/libs/slider/jquery.ui.touch-punch.min.js')
script(src='/libs/swiper/script.js')
script(src="/js/common.js")