mixin banner(vars)
<<<<<<< HEAD
	+b.banner
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					+e.IMG.pic(src="/images/slider_1.jpg", alt="")
					+e.content
						+e.P.subtitle high quality wines
						+e.H2.title.heading-1 begin The GREAT JOURNEY
						+e.P.text We are creating uniquely wonderful wine experiences combining both winemaking traditions and innovations. 
						a(href="#").btn.btn_link discover
				.swiper-slide
					+e.IMG.pic(src="/images/slider_2.jpg", alt="")
					+e.content
						+e.P.subtitle high quality wines
						+e.H2.title.heading-1 begin The GREAT JOURNEY
						+e.P.text We are creating uniquely wonderful wine experiences combining both winemaking traditions and innovations. 
						a(href="#").btn.btn_link discover
				.swiper-slide
					+e.IMG.pic(src="/images/slider_3.jpg", alt="")
					+e.content
						+e.P.subtitle high quality wines
						+e.H2.title.heading-1 begin The GREAT JOURNEY
						+e.P.text We are creating uniquely wonderful wine experiences combining both winemaking traditions and innovations. 
						a(href="#").btn.btn_link discover
				.swiper-slide
					+e.IMG.pic(src="/images/slider_4.jpg", alt="")
					+e.content
						+e.P.subtitle high quality wines
						+e.H2.title.heading-1 begin The GREAT JOURNEY
						+e.P.text We are creating uniquely wonderful wine experiences combining both winemaking traditions and innovations. 
						a(href="#").btn.btn_link discover
			.swiper-button-prev
			.swiper-button-next
=======
	+b.banner
>>>>>>> f43ef22c65d61a32c7df2eb0fb3d0b0965ae67a2
