.news
	margin-top: 50px
	&__inner
		display: flex
		flex-wrap: wrap
	&__item
		width: 49%
		margin-right: 18px
		margin-bottom: 30px
		+screen('max', 1023)
			margin-right: 12px
		+screen('max', 767)
			width: 100%
		&:nth-of-type(2n + 1)
			margin-right: 0
		&_big
			width: 100%
			flex-grow: 1
			.news__pic img
				+screen('max', 1500)
					height: 513px
	&__pic
		width: 100%
		position: relative
		img
			width: 100%
			object-fit: cover
			+screen('max', 1500)
				height: 226px
	&__date
		display: flex
		flex-flow: column
		justify-content: center
		padding: 10px 14px
		background: $color-2
		+fs(26px)
		text-transform: uppercase
		color: #fff
		text-align: center
		max-width: 60px
		box-sizing: border-box
		position: absolute
		top: 15px
		left: 15px
		span
			+fs(12px)
		&_big
			padding: 14px 20px
			max-width: 85px
			+fs(38px)
			span
				+fs(17px)
	&__content
		margin-top: 20px
	&__title
		+fs(22px)
		text-transform: none
		color: #222222
	&__text
		+fs(15px)
		margin-top: 15px
		text-align: left
	&__meta
		margin-top: 15px
		display: flex
		justify-content: space-between
		align-items: center
	&__post
		font-weight: 300
		color: #999999
		b
			margin-left: 5px
			font-weight: 400
	&__link
		color: #999999
		+fs(14px)
		text-transform: uppercase
		padding-left: 30px
		position: relative
		&:before
			content: ''
			width: 24px
			height: 1px
			background: #cccccc
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
		&_big
			color: $color-2

.news-single
	margin-top: 50px
	&__pic
		img
			width: 100%
			height: 500px
			object-fit: cover
			+screen('max', 1500)
				height: 382px
			+screen('max', 767)
				height: 200px
	&__title
		color: #222222
		+fs(24px)
		text-transform: none
		margin-bottom: 20px
	&__head
		margin-top: 30px
	&__date
		color: #999999
		+fs(14px)
	&__post
		color: #999999
		+fs(14px)
		margin-left: 20px
		b
			margin-left: 5px
			font-weight: 500
	&__body
		margin-top: 20px
	.text
		text-align: left
.control
	background-color: #f7f6f2
	padding: 30px 30px
	display: flex
	justify-content: space-between
	align-items: center
	margin-top: 50px
	+screen('max', 767)
		padding: 20px 10px
	&__btn
		display: flex
		align-items: center
		svg
			width: 29px
			height: 29px
			margin: 0 20px
		path
			fill:  #cccccc
			transition: .5s ease
		&:hover
			path
				fill: $color-2
	&__text
		+screen('max', 767)
			display: none
		b
			color: #333333
			font-weight: 400
			+fs(18px)
		p
			+fs(14px)
			color: #999999