mixin newssingle(vars)
	+b.news-single
		+e.head.inner
			.tag.tag_blue Новости компании
			+e.H1.title.heading-2 H2 Уважаемые клиенты! Разработано и освоено производство новых видов шинорейки № 20 и № 30
			+e.P.date 20.01.2020
			+e.PICTURE.pic
				img(src="/images/news-single.jpg", alt="")
		+e.body
			+e.content
				article.text
					p Отсчитывая свою историю с 2005 года, мы накопили бесценный опыт. Мы приложили немало усилий для создания компании, занимающей лидирующие позиции в отрасли. Приняв за основу выстраивание долгосрочных партнёрских отношений, наш завод стал поставщиком крупных промышленных предприятий в России и странах ближнего зарубежья, доверительными отношениями с которыми мы очень дорожим!
					h3 Н3 Дорогие коллеги и друзья! В ноябре 2015 года компания «Нижегородский завод металлоизделий» отмечает свой 10-летний юбилей.
					p Дорогие коллеги и друзья! В ноябре 2015 года компания «Нижегородский завод металлоизделий» отмечает свой 10-летний юбилей.
					p Отсчитывая свою историю с 2005 года, мы накопили бесценный опыт. Мы приложили немало усилий для создания компании, занимающей лидирующие позиции в отрасли. Приняв за основу выстраивание долгосрочных партнёрских отношений, наш завод стал поставщиком крупных промышленных предприятий в России и странах ближнего зарубежья, доверительными отношениями с которыми мы очень дорожим!
					h4 H4 Дорогие коллеги и друзья! В ноябре 2015 года компания «Нижегородский завод металлоизделий» отмечает свой 10-летний юбилей.
					p Отсчитывая свою историю с 2005 года, мы накопили бесценный опыт. Мы приложили немало усилий для создания компании, занимающей лидирующие позиции в отрасли. Приняв за основу выстраивание долгосрочных партнёрских отношений, наш завод стал поставщиком крупных промышленных предприятий в России и странах ближнего зарубежья, доверительными отношениями с которыми мы очень дорожим!
					p Дорогие коллеги и друзья! В ноябре 2015 года компания «Нижегородский завод металлоизделий» отмечает свой 10-летний юбилей.
					p Отсчитывая свою историю с 2005 года, мы накопили бесценный опыт. Мы приложили немало усилий для создания компании, занимающей лидирующие позиции в отрасли. Приняв за основу выстраивание долгосрочных партнёрских отношений, наш завод стал поставщиком крупных промышленных предприятий в России и странах ближнего зарубежья, доверительными отношениями с которыми мы очень дорожим!
					blockquote
						p Приняв за основу выстраивание долгосрочных партнёрских отношений, наш завод стал поставщиком крупных промышленных предприятий в России и странах ближнего зарубежья, доверительными отношениями с которыми мы очень дорожим!
						p Константин Константинович
						p Технолог
					p Удержание качества наших изделий гарантирует применяемая на заводе международная система качества ISO-9001-2011:
					ul
						li На сегодня завод «НЗМИ» – это современное предприятие, имеющее собственные производственные площади, 
						li Современный парк оборудования, 
						li Позволяющий выполнять множество операций по металлообработке: прокатные станы.
					p Удержание качества наших изделий гарантирует применяемая на заводе международная система качества ISO-9001-2011. 10 лет - это, несомненно, наработанная репутация, надежные партнеры и множество реализованных проектов, за каждым из которых стоит наша команда, люди , вложившие свои профессиональные силы, знания и навыки. Добиться настоящего успеха было бы невозможно без слаженной работы надежного и профессионального коллектива. Сейчас в компании трудятся высококвалифицированные специалисты, обладающие уникальным опытом и знаниями. Хочется сказать слова благодарности всем тем, кто предан нашему общему делу и тем, кто был когда-либо частью нашей команды и вместе с нами принимал вызовы времени!
			+b.control
				+e.A.btn(href="#") Предыдущая статья
				+e.A.btn_blue(href="#") назад к списку
				+e.A.btn(href="#") Следующая статья