mixin newsall(vars)
	+b.news
		+e.inner.inner
			+e.item_big
				+e.pic
					img(src="/images/article_1.jpg", alt="")
					+e.date_big 03
						span SEP
				+e.content
					+e.H2.title Title name
					+e.P.text.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
				+e.meta
					+e.P.post Post by
						b Name Surname
					+e.A.link_big(href="/news-single.html") Read more
			+e.item
				+e.pic
					img(src="/images/article_2.jpg", alt="")
					+e.date 03
						span SEP
				+e.content
					+e.H2.title Title name
					+e.P.text.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				+e.meta
					+e.A.link(href="/news-single.html") Read more
			+e.item
				+e.pic
					img(src="/images/article_3.jpg", alt="")
					+e.date 03
						span SEP
				+e.content
					+e.H2.title Title name
					+e.P.text.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				+e.meta
					+e.A.link(href="/news-single.html") Read more
			+e.item
				+e.pic
					img(src="/images/artlicle_4.jpg", alt="")
					+e.date 03
						span SEP
				+e.content
					+e.H2.title Title name
					+e.P.text.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				+e.meta
					+e.A.link(href="/news-single.html") Read more
			+e.item
				+e.pic
					img(src="/images/artlicle_5.jpg", alt="")
					+e.date 03
						span SEP
				+e.content
					+e.H2.title Title name
					+e.P.text.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				+e.meta
					+e.A.link(href="/news-single.html") Read more